/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/web/vendor/
/web/node_modules/
/web/dist/js/*
/web/dist/css/*
!web/dist/js/.gitkeep
!web/dist/css/.gitkeep
/web/dist/fonts/*
/nbproject/private/
/web/img/cosmitet.png
