@import "font-awesome.css"
@import "ionicons.css"
@import "bootstrap.css"
@import "adminLTE.css"
@import "simpleList.css"
@import "../vendor/angular-ui-tree/dist/angular-ui-tree.min.css";
@import "../vendor/bootstrap-fileinput/css/fileinput.css";
